* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(30, 28, 49);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    display:flex;
    flex-direction: column;
    background-color:rgb(44, 42, 66);
    padding: 5vh;
    text-align: center;
    color: white;
    gap: 2vh;
    height: 20vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows:  1fr;
    gap: 5rem;
    max-width: 90vw;
    margin: 4vh auto;
    padding: 0 2vh;
    align-items: center; 
}

h2{
    color: rgb(153, 185, 255);
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.paises {
    background-color:rgb(44, 42, 66);
    padding: 2vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: white;
}

@media (max-width: 806px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5rem;
        max-width: 80vw;
        margin: 4vh auto;
        padding: 0 2vh;
        align-items: center; 
    }

}

@media (max-width: 557px) {

    header{
        display:flex;
        flex-direction: column;
        background-color:rgb(44, 42, 66);
        padding: 5vh;
        text-align: center;
        color: white;
        gap: 2vh;
        height: 25vh;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5rem;
        max-width: 80vw;
        margin: 4vh auto;
        padding: 0 2vh;
        align-items: center; 
    }
    
}

@media (max-width: 388px) {

    header{
        display:flex;
        flex-direction: column;
        background-color:rgb(44, 42, 66);
        padding: 5vh;
        text-align: center;
        color: white;
        gap: 2vh;
        height: 30vh;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5rem;
        max-width: 80vw;
        margin: 4vh auto;
        padding: 0 2vh;
        align-items: center; 
    }
    
}
